.header {
  visibility: visible;
  background: transparent;
  padding: 0px;
 margin-top: 4rem;
  height: 655px;
  display: block;
  width: auto;
  overflow: visible;
}

.bg-img {
  position: absolute;
  mix-blend-mode: overlay;
  top: 4rem;
  height: 600px;
  width: 100%;
  background-color: #767272;
}
.header-image {
  width: 100%;
  height: 650px;
  left: 0px;
}

.inner-header-img {
  display: flex;
  justify-content: space-evenly;
}
.section {
  max-height: max-content;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.drrick-container {
  z-index: 10;
  color: rgb(255, 255, 255);
  width: 591px;
  height: 322px;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  transform-origin: 50% 50%;
  opacity: 1;
  transform: translate(0px, 40px);
  visibility: visible;
}
.derrick-img {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  resize: both;
}
.headerbox-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-box-transparent {
  z-index: 6;
  background: linear-gradient(rgb(74, 74, 74) 0%, rgb(43, 43, 43) 100%);
  color: rgb(255, 255, 255);
  padding: 0 10px;
  height: 81px;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  overflow: hidden;
  border-radius: 10px;
  transform-origin: 50% 50%;
  opacity: 1;
  transform: translate(0px, 0px);
  visibility: visible;
}

.header-text {
  z-index: 7;
  font-family: Pelak;
  height: auto;
  color: rgb(255, 255, 255);
  text-decoration: none;
  white-space: normal;
  width: 772px;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  text-align: right;
  line-height: 55px;
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 28px;
  transform-origin: 50% 50%;
  opacity: 1;
  transform: translate(0px, 0px);
  visibility: visible;
}

.bg-header-logo {
  z-index: 8;
  background: linear-gradient(rgb(247, 247, 247) 0%, rgb(215, 215, 215) 100%);
  color: rgb(255, 255, 255);
  width: 320px;
  height: 83px;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  overflow: hidden;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  transform-origin: 50% 50%;
  opacity: 1;
  transform: translate(0px, 0px);
  visibility: visible;
}
.crane-container {
  display: block;
  pointer-events: auto;
  left: 652.5px;
  top: 66px;
  z-index: 5;
  visibility: visible;
  perspective: 601px;
  width: 591px;
  height: 591px;
}

.svg-container {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 2vh;
}
.svg {
  transform: translate(-50%, -120%);
  left: 50%;
  position: relative;
 
}
.mobile-header-name {
  display: none;
}

@media (max-width: 581px) {
 .headcontain{
  width: 100% !important;
 }
  .header{
    height: fit-content !important;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .header-image {
    height: max-content;
    opacity: 1;
    filter: none;
  }
  .header-text {
    font-size: 14px!important;
    text-align: center;
  }
  .crane-img {
    display: none;
  }
  .drrick-container {
    display: none;
  }
  .derrick-img {
    display: none;
  }
  .svg-container {
    display: none;
  }
  .contain {
    display: none !important;
  }
  .bg-header-logo {
    display: none;
  }
  .header-box-transparent {
    background: none;
    padding: 0;
  }
  .mobile-header-name {
    display: block;
    z-index: 12;
    font-family: Javan;
    height: auto;
    width: 155px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: normal;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: left;
    line-height: 50px;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 60px;
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible; 
  }
  
  
}

@media (max-width: 780px) {
  .svg-container {
    left: 0px;
    bottom: -1px;
    position: relative;
  }
  .drrick-container {
    width: auto;
    height: auto;
  }
  .crane-container {
    width: 291px ;
    height: 310px ;
  }
  .contain {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-text {
    font-size: 16px!important;
  }
  .header-logo-img {
    width: 177px;
    height: 39px;
  }
  .derrick-img{
    width: 100% !important;
    height: 100% !important;
  }
  
}
@media (max-width: 1000px) {
  .bg-img {
    height: 50vh;
  }
  .header{
    height: 50vh;
  }
  .header-image{
    height: 470px;
  }
  
  .header-text {
    font-size: 19px;
  }
  .header-logo-img {
    width: 177px;
    height: 39px;
  }
  .header-box-transparent{
    height: fit-content;
    width: max-content;
  }
  .bg-header-logo{
    width: 187px;
    height: 50px;
  }
  .derrick-img{
    width: 80%;
    height: 70%;
  }
  .contain{
    width: 391px;
    height: 391px;
  }
  .crane-container{
    width: 100%;
    height: 100%;
  }
  .crane-img{
    width: 90%;
    height: 85%;
  }
  
  .derrick-container{
    width: 391px!important;
  }
  .headcontain{
    width: 65%;
  }
  
}