.header{
    visibility: visible;
    background: transparent;
    padding: 0px;
    margin: 0px auto;
    height: 650px;
    display: block;
    width: auto;
    overflow: visible;
}

.bg-img{
    position: absolute;
    mix-blend-mode: overlay;
    top:0;
    height: 650px;
    width: 100%;
 
}
.header-image{
    width: 100vw;
    height: 650px;
    left: 0px;
  
}