.Container{   
    height: 4rem;
    background-color: #2e2e37;
} 
.row{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(46,46,55,0.01);
    padding-top: 1px;
    padding-bottom: 8px;
    box-shadow: 1px 1px 40px rgb(255 195 0 / 14%);
    position: fixed;
    z-index: 999;
    top: 0;
    backface-visibility: hidden;
    transition: transform 400ms ease-in-out, padding 400ms ease-in-out;
}

.navbar{
display: flex;
align-items: center;
}

.row > .navbar {
    width: 100%;
    position: relative;
}

.header_2{
   
    padding-top: -7px;
    margin-bottom: -3px;
    position: relative;
}
.outer-logoarea{
    margin-top:2px;
    margin-right:10px;
    margin-bottom:-29px
}

.logo-img{
    width:78px;
    height:86px;
    background-color: transparent;
    background-image: none ;
    opacity: 1;
    top:0;
    margin-top: -5px;               
}
/* middle nav */
.middle-nav{
margin: 0 auto;
flex-basis: 60%;

}
.ceneter-nav-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    direction: rtl;
}
.nav-text{
    color: #ffffff;
    padding: 5px 16px;
    margin: 0px 2px 0px 0px;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0;
    font-family: iranyekan;
}
.nav-text:hover{
    background-color: #ffc300;    
    border-radius: 15px;
    color: #000;
}
.hometext-nav{
    background-color: #ffc300;    
    border-radius: 15px;
    color: #000;
}
li{
   
    list-style: none;
}
/* left nav */
.nav{
flex: 1 0 20%;
display: block;
width: 100%;
}
.left-nav{
    display: flex;
    justify-content: end;
}
.inner-leftnav-div{
margin-bottom: 1px;

}
.inner-leftbuton{
font-size: 14px;
color: #2e2e37;
font-weight: 600;
padding: 9px 20px;
margin-bottom: -5px;
border-radius: 10px;
background-color: #ffc300;
border: 1px solid transparent;
position: relative;
overflow: hidden;
z-index: 1;
font-family: iranyekan;
}
.hamberger-menu{
    display: none;
}
@media (max-width:780px) {
    .hamberger-menu{
        display: block;
        padding: 5px;
    }
    .left-nav{
        display: none;
    }
    .middle-nav{
        display: flex;
        justify-content: space-between;
    }
    .ceneter-nav-content{
     
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        background-color:#2e2e37 ; 
         width: 75%;
        height: 100vh;    
        background-size: cover;
        right: 0;
        left: auto;
        transform: translateX(0);
        transition: all 700ms cubic-bezier(.77, 0, .175, 1);
        box-shadow: -5px 0 20px rgb(0 0 0 / 12%);
        z-index: 9999;
        position: fixed;
        top: 0;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    .ceneter-nav-content li{
        display: flex;
        justify-content: flex-start;
        margin-top: 8px;
        padding: 5px 5px 5px 0px;
    border-bottom: 1px solid rgba(167, 167, 167, .2);
    }
    .ceneter-nav-content li span {
        width: 100%;
        float: none;
        padding: 10px 20px;
    
    }

    .hometext-nav{
        background-color: transparent;
        color: #ffffff;
        border-radius: 0%;
    }

}

.none{
    display: none;
}