.relative{
    position: relative;
}
.absolute{
    position: absolute;
}

@font-face {
    font-family: Pelak;
    src: url(asset/Fonts/Pelak-Medium.woff);
  }
  @font-face {
    font-family: Rezvan;
    src: url(asset/Fonts/Rezvan.ttf);
  }
  @font-face {
    font-family: iranyekan;
    src: url(asset/Fonts/iranyekanwebregularfanum.woff);
  }
  *{
   
  }